@page
@model Pizzaria.Pages.Checkout.CheckoutModel
@{
}


<h1>Name: @Model.name</h1>
<h1>Your order was created !</h1>
<a class="btn btn-primary" asp-area="" asp-page="/Orders/Orders">Show All Orders</a>
