@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

	<h1 class="display-4"> My First app</h1>
	<h2 >ASP.NET CORE C#</h2>

		<img class="mainImage" src="~/images/pizza.jpg"></img>
		</br>

		<a class="btn btn-primary mt-1 " asp-area="" asp-page="Pizza">Bring me that PIZZA</a>
   
</div>
