@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacidade de criação";
}
<h1>@ViewData["Title"]</h1>

<p>Esta app foi utilizada para aprender a usar o .NET framework Razor / MVC </p>
<p>Aprendi a usar sql Server, mandar dados para a view, como receber da url e guardar </p>
